In [89]:
import pandas as pd
import numpy as np

In [94]:
d1 = {'Sample': ['a', 'b, c', 'b', 'c'], 'Value' : [1, 3, 2, 4]}
d2 = {'Sample': ['b', 'c', 'a', 'd'], 'Value' : [7, 2, 4, 11]}

In [95]:
d1 = pd.DataFrame(d1)
d2 = pd.DataFrame(d2)

In [97]:
print d1

  Sample  Value
0      a      1
1   b, c      3
2      b      2
3      c      4

In [98]:
print d2

  Sample  Value
0      b      7
1      c      2
2      a      4
3      d     11

In [92]:
def split_and_expand(df, col, splitter):
    x = df[col].str.split(splitter)
    x = x.values.tolist()
    l = [len(v) for v in x]

    dfe = pd.DataFrame({col: np.concatenate(x)}, df.index.repeat(l))
    dfe = dfe.join(df.drop(col, 1)).reset_index(drop=True)
    return dfe

In [99]:
d1 = split_and_expand(d1, 'Sample', ', ')
d2 = split_and_expand(d2, 'Sample', ', ')
print d1

  Sample  Value
0      a      1
1      b      3
2      c      3
3      b      2
4      c      4

In [100]:
pd.merge(d1, d2, on = 'Sample', how = 'outer')

  Sample  Value_x  Value_y
0      a      1.0        4
1      b      3.0        7
2      b      2.0        7
3      c      3.0        2
4      c      4.0        2
5      d      NaN       11